<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acetering.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.acetering.app.service.ClipboardMonitorService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".broadcast.StudentRecordBroadcastReceiver">
            <intent-filter>
                <action android:name="com.acetering.app.CLIPBOARD_MONITOR_ADD_STUDENT" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.acetering.app.service.QueryWeekdayService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.acetering.student_input.QueryWeekdayService" />
            </intent-filter>
        </service>
        <service
            android:name="com.acetering.app.service.NetworkObserver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.acetering.app.share.StudentContentProvider"
            android:authorities="com.acetering.app.providers.student"
            android:exported="true" />

        <activity
            android:name="com.acetering.app.ActivityConfig"
            android:label="@string/title_activity_config" />
        <activity android:name="com.acetering.app.ActivityPhonePlace">
            <intent-filter>
                <action android:name="com.acetering.student_input.QUERY_TEL_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.acetering.app.ViewManagerActivity" />
        <activity android:name="com.acetering.app.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.acetering.app.FragmentMain" />
        <activity android:name="com.acetering.app.FragmentStudent" />
    </application>

</manifest>